# Ignore all dotfiles and dot-directories, except the git ones
.*
!.git*

# Node
node_modules

# Python bytecode and caches
__pycache__/
*.py[cod]
*$py.class

# Coverage
coverage.xml
htmlcov/

# OS / editor junk
Thumbs.db
*.swp
*.swo
*.tmp

# Typical output files
*.log
*.err
*.out
*.tmp
